@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*Equivalent to 10px*/
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "BebasNeue", sans-serif;
  overflow-x: hidden; }

.table {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.727); }
  .table::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../public/images/CasinoBGPatternRed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; }
  .table .table-container {
    width: 100%;
    height: 100%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end; }
    .table .table-container .wrappers {
      width: 100%;
      position: relative;
      overflow: hidden; }
      .table .table-container .wrappers:not(:last-of-type) {
        height: 40%; }
      .table .table-container .wrappers:first-of-type {
        margin-top: 2rem; }
      .table .table-container .wrappers:last-of-type {
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center; }
      .table .table-container .wrappers .section-wrapper-title {
        width: 100%;
        margin-top: 1rem;
        color: #fff; }
      .table .table-container .wrappers .card-value {
        width: 100%;
        height: 3.5rem;
        font-size: 3rem;
        color: #f7f708; }
      .table .table-container .wrappers .dealer-card-container,
      .table .table-container .wrappers .player-card-container {
        width: 90%;
        height: auto;
        margin: 1rem auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center; }

.hidden {
  display: none; }

.moveLeft {
  margin-left: -5rem; }

.cardsHidden {
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%); }

.widthOpen {
  width: 100px; }

.modal {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.692);
  position: relative;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0; }
  .modal .modal-value {
    width: 100%;
    height: calc((100% / 2) - 5rem);
    margin-top: 10rem;
    font-size: 3rem;
    color: #f7f708;
    display: flex;
    justify-content: center;
    align-items: center; }
  .modal .refresh-btn {
    font-size: 2rem;
    margin-bottom: 15rem;
    padding: 1rem 2rem;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    cursor: pointer; }

.showModal {
  display: block; }

.cards {
  width: 0;
  height: 140px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%; }
  @media only screen and (min-width: 768px) {
    .cards {
      height: 200px; } }
  .cards .card-front,
  .cards .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition-delay: 0.3s;
    box-shadow: -0.5rem 0rem 0.5rem rgba(0, 0, 0, 0.61); }
    .cards .card-front .card-imgs,
    .cards .card-back .card-imgs {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cards .card-front {
    transform: perspective(50rem) rotateY(0deg);
    -webkit-transform: perspective(50rem) rotateY(0deg);
    -moz-transform: perspective(50rem) rotateY(0deg);
    -ms-transform: perspective(50rem) rotateY(0deg);
    -o-transform: perspective(50rem) rotateY(0deg); }
  .cards .card-back {
    transform: perspective(60rem) rotateY(180deg);
    -webkit-transform: perspective(60rem) rotateY(180deg);
    -moz-transform: perspective(60rem) rotateY(180deg);
    -ms-transform: perspective(60rem) rotateY(180deg);
    -o-transform: perspective(60rem) rotateY(180deg); }
  .cards .rotateFrontCard {
    transform: perspective(50rem) rotateY(180deg);
    -webkit-transform: perspective(50rem) rotateY(180deg);
    -moz-transform: perspective(50rem) rotateY(180deg);
    -ms-transform: perspective(50rem) rotateY(180deg);
    -o-transform: perspective(50rem) rotateY(180deg); }
  .cards .rotateBackCard {
    transform: perspective(50rem) rotateY(0deg);
    -webkit-transform: perspective(50rem) rotateY(0deg);
    -moz-transform: perspective(50rem) rotateY(0deg);
    -ms-transform: perspective(50rem) rotateY(0deg);
    -o-transform: perspective(50rem) rotateY(0deg); }

.widthOpen {
  width: 100px; }
  @media only screen and (min-width: 768px) {
    .widthOpen {
      width: 140px; } }

button {
  font-size: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%; }

.hit-btn {
  margin-right: 2rem; }

.blackjack-animation {
  font-size: 3rem;
  color: #f7f708; }
