.cards {
  width: 0;
  height: 140px;
  position: relative;
  transform-style: preserve-3d;
  @include transit4;
  @include borderFive;

  @include tabletPortrait {
    & {
      height: 200px;
    }
  }

  .card-front,
  .card-back {
    @include keep-it-hundo;
    @include absol-topLeftZero;
    @include transit6;
    @include borderFive;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition-delay: 0.3s;
    box-shadow: -0.5rem 0rem 0.5rem rgba(0, 0, 0, 0.61);

    .card-imgs {
      @include keep-it-hundo;
      object-fit: cover;
    }
  }

  .card-front {
    transform: perspective(50rem) rotateY(0deg);
    -webkit-transform: perspective(50rem) rotateY(0deg);
    -moz-transform: perspective(50rem) rotateY(0deg);
    -ms-transform: perspective(50rem) rotateY(0deg);
    -o-transform: perspective(50rem) rotateY(0deg);
  }

  .card-back {
    transform: perspective(60rem) rotateY(180deg);
    -webkit-transform: perspective(60rem) rotateY(180deg);
    -moz-transform: perspective(60rem) rotateY(180deg);
    -ms-transform: perspective(60rem) rotateY(180deg);
    -o-transform: perspective(60rem) rotateY(180deg);
  }

  .rotateFrontCard {
    transform: perspective(50rem) rotateY(180deg);
    -webkit-transform: perspective(50rem) rotateY(180deg);
    -moz-transform: perspective(50rem) rotateY(180deg);
    -ms-transform: perspective(50rem) rotateY(180deg);
    -o-transform: perspective(50rem) rotateY(180deg);
  }

  .rotateBackCard {
    transform: perspective(50rem) rotateY(0deg);
    -webkit-transform: perspective(50rem) rotateY(0deg);
    -moz-transform: perspective(50rem) rotateY(0deg);
    -ms-transform: perspective(50rem) rotateY(0deg);
    -o-transform: perspective(50rem) rotateY(0deg);
  }
}

// ********** JS Class ********** //

.widthOpen {
  width: 100px;

  @include tabletPortrait {
    & {
      width: 140px;
    }
  }
}
