.table {
  width: 100vw;
  height: 100vh;
  @include flex-center-col;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.727);

  &::after {
    content: "";
    @include keep-it-hundo;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../public/images/CasinoBGPatternRed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .table-container {
    @include keep-it-hundo;
    max-width: 120rem;
    margin: 0 auto;
    @include flex-center-col;
    justify-content: flex-end;

    .wrappers {
      width: 100%;
      position: relative;
      overflow: hidden;

      &:not(:last-of-type) {
        height: 40%;
      }

      &:first-of-type {
        margin-top: 2rem;
      }

      &:last-of-type {
        height: 20%;
        @include flex-center;
      }

      .section-wrapper-title {
        width: 100%;
        margin-top: 1rem;
        color: #fff;
      }

      .card-value {
        width: 100%;
        height: 3.5rem;
        font-size: 3rem;
        color: $color-yellow;
      }

      .dealer-card-container,
      .player-card-container {
        width: 90%;
        height: auto;
        margin: 1rem auto;
        position: relative;
        @include flex-center;
        // border: 1px solid $color-yellow;

        .cards {
          width: 0;
          height: 140px;
          position: relative;
          transform-style: preserve-3d;
          @include transit4;
          @include borderFive;

          @include tabletPortrait {
            & {
              height: 200px;
            }
          }

          .card-front,
          .card-back {
            @include keep-it-hundo;
            @include absol-topLeftZero;
            @include transit6;
            @include borderFive;
            overflow: hidden;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            transition-delay: 0.3s;
            box-shadow: -0.5rem 0rem 0.5rem rgba(0, 0, 0, 0.61);

            .card-imgs {
              @include keep-it-hundo;
              object-fit: cover;
            }
          }

          .card-front {
            transform: perspective(50rem) rotateY(0deg);
            -webkit-transform: perspective(50rem) rotateY(0deg);
            -moz-transform: perspective(50rem) rotateY(0deg);
            -ms-transform: perspective(50rem) rotateY(0deg);
            -o-transform: perspective(50rem) rotateY(0deg);
          }

          .card-back {
            transform: perspective(60rem) rotateY(180deg);
            -webkit-transform: perspective(60rem) rotateY(180deg);
            -moz-transform: perspective(60rem) rotateY(180deg);
            -ms-transform: perspective(60rem) rotateY(180deg);
            -o-transform: perspective(60rem) rotateY(180deg);
          }

          .rotateFrontCard {
            transform: perspective(50rem) rotateY(180deg);
            -webkit-transform: perspective(50rem) rotateY(180deg);
            -moz-transform: perspective(50rem) rotateY(180deg);
            -ms-transform: perspective(50rem) rotateY(180deg);
            -o-transform: perspective(50rem) rotateY(180deg);
          }

          .rotateBackCard {
            transform: perspective(50rem) rotateY(0deg);
            -webkit-transform: perspective(50rem) rotateY(0deg);
            -moz-transform: perspective(50rem) rotateY(0deg);
            -ms-transform: perspective(50rem) rotateY(0deg);
            -o-transform: perspective(50rem) rotateY(0deg);
          }
        }

        .widthOpen {
          width: 100px;

          @include tabletPortrait {
            & {
              width: 140px;
            }
          }
        }
      }

      button {
        font-size: 2rem;
        padding: 1rem 2rem;
        cursor: pointer;
        @include transit6;
      }

      .hit-btn {
        margin-right: 2rem;
      }
    }
  }

  .modal {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.692);
    position: relative;
    @include absol-topLeftZero;

    .modal-value {
      width: 100%;
      height: calc((100% / 2) - 5rem);
      margin-top: 10rem;
      font-size: 3rem;
      color: $color-yellow;
      @include flex-center;
    }

    .refresh-btn {
      font-size: 2rem;
      margin-bottom: 15rem;
      padding: 1rem 2rem;
      @include transit6;
      @include absol-bottomCenter;
      @include transformX;
      cursor: pointer;
    }
  }

  .showModal {
    display: block;
  }
}

// ********** Class ********** //

.hidden {
  display: none;
}

.moveLeft {
  margin-left: -5rem;
}

.cardsHidden {
  position: absolute;
  top: 50%;
  left: -100%;
  @include transformX;
}

.widthOpen {
  width: 100px;
}
