.table {
  width: 100vw;
  height: 100vh;
  @include flex-center-col;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.727);

  &::after {
    content: "";
    @include keep-it-hundo;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../public/images/CasinoBGPatternRed.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .table-container {
    @include keep-it-hundo;
    max-width: 120rem;
    margin: 0 auto;
    @include flex-center-col;
    justify-content: flex-end;

    .wrappers {
      width: 100%;
      position: relative;
      overflow: hidden;

      &:not(:last-of-type) {
        height: 40%;
      }

      &:first-of-type {
        margin-top: 2rem;
      }

      &:last-of-type {
        height: 20%;
        @include flex-center;
      }

      .section-wrapper-title {
        width: 100%;
        margin-top: 1rem;
        color: #fff;
      }

      .card-value {
        width: 100%;
        height: 3.5rem;
        font-size: 3rem;
        color: $color-yellow;
      }

      .dealer-card-container,
      .player-card-container {
        width: 90%;
        height: auto;
        margin: 1rem auto;
        position: relative;
        @include flex-center;
        // border: 1px solid $color-yellow;
      }
    }
  }
}

// ********** JS Class ********** //

.hidden {
  display: none;
}

.moveLeft {
  margin-left: -5rem;
}

.cardsHidden {
  position: absolute;
  top: 50%;
  left: -100%;
  @include transformX;
}

.widthOpen {
  width: 100px;
}
